body {
  margin: 0;
}

#start {
  position: absolute;
  background-color: hsl(0, 100%, 100%);
  opacity: 0.5;
  width: 80px;
  height: 80px;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  pointer-events: none;
}

#screenContainer {
  position: relative;
  width: 320px;
  height: 240px;
}

#screenWrapper {
  position: relative;
  width: 320px;
  height: 240px;
  transform-origin: 0 0;
}

@media screen and (min-width: 640px) and (min-height: 480px) {
  #screenContainer {
    width: 640px;
    height: 480px;
  }
  #screenWrapper {
    transform: scale(2);
  }
}

@media screen and (min-width: 960px) and (min-height: 720px) {
  #screenContainer {
    width: 960px;
    height: 720px;
  }
  #screenWrapper {
    transform: scale(3);
  }
}

@media screen and (min-width: 1280px) and (min-height: 960px) {
  #screenContainer {
    width: 1280px;
    height: 960px;
  }
  #screenWrapper {
    transform: scale(4);
  }
}

@media screen and (min-width: 1600px) and (min-height: 1200px) {
  #screenContainer {
    width: 1600px;
    height: 1200px;
  }
  #screenWrapper {
    transform: scale(5);
  }
}

@font-face {
  font-family: ModernDOS8x8;
  src: url("./fonts/HarvettFox96/ModernDOS8x8.ttf") format("truetype");
}

@font-face {
  font-family: misaki_gothic_2nd;
  src: url("./fonts/littlelimit.net/misaki_gothic_2nd.ttf") format("truetype");
}
